html{
    scroll-behavior: smooth;
}
section .link{
    text-decoration: none;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
.background-1{
    /* background-image: cover;
    overflow: auto;
    position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
    position: absolute;
    overflow-x:hidden;
}
section{
    /* width: 100vh; */
    /* height: 100vh; */
    padding:0px;
    height: 100vh;
    overflow: hidden;
}
section::before{
    content:'';
    position: absolute;
    bottom:0;
    width: 100%;
    height: 3%;
    background:linear-gradient(to top,rgb(1, 0, 32),transparent); 
    z-index: 100;
}
section .section1-body{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 200px;
    margin-left:20vh;
    margin-right: 10vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
section .section1-introduction{
    width: 50vh;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 20px;
    height: 50vh;
}

section .section1-body-introduction-1{
    font-size:70px;
    font-weight: bold;
    margin-bottom: 26px;
}
section .section1-body-introduction-2{
    text-align: justify;
    margin-bottom: 26px;
}
section .section1-body-introduction-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;    
}
section .section1-body-introduction-3-button{
    font-size:23px;
    width: 150px;
    height: 50px;
    background-color: white;
    border:none;
    border-radius: 20px;
    color:black;
    padding: 10px;
    cursor: pointer;
}
section .section1-body-introduction-3-button:hover{
    box-shadow: 0 0 3px 3px bisque;
    width: 200px;
    height: 65px;
    font-size:28px;
    padding:5px;
    transition: 0.5s;  
}

section .section1-body-introduction-3-button:active{
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle 
    farthest-corner at 10% 20%, rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2%) ;
    transition: 0.5s;    
}

section .section1-picture{
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .section1-picture-1{
    width: 50vh;
    height: 50vh;
    object-fit:cover;
    position: absolute;
    border:none;
    border-radius:50%;
    margin-top:100px;
    background:linear-gradient(to left,rgb(223, 50, 34),rgb(229, 83, 36),rgb(237, 121, 44));
}
section .section1-picture-1:hover{
    box-shadow: 0 0 5px 5px #252525;
    width: 60vh;
    height: 60vh;
    transition: 0.5s;
}
section .background-2{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    overflow: auto;
    z-index: -1;
    position: absolute;
}
section .section2-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 15vh;
    top: 150px;
    margin-left: 10vh;
    margin-right: 10vh;
}
section .section2-picture{
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 50%;
    animation-duration: 1s;

}

section .section2-information{
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size:23px;
    color: white;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    transition: 0.5s;
}
section .section2-information:hover{
    transform: translateY(-20px);
}
section .section1-information-box{
    margin:10px;
    padding: 10px;
}
section .section2-information-font{
    font-family: 'Courier New', Courier, monospace;
    margin:8px 20px 2px 20px;
    padding :5px;
}
section .background-3{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    overflow: auto;
    z-index: -1;
    position: absolute;
}
.section3-body{
    gap:6vh;
    display: flex;
    flex-direction:row;
    height: 75vh;
    margin:18vh 6vh 5vh 6vh;
}
.section3-body-pictures{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid white;
    margin: 5px;
    height: 60vh;
    width: 80vh;
    gap:10px;
    padding: 10px;
    
}
.section3-body-pictures-child{
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 20px;
    width: 60vh;
    height: 30vh;
    font-size: 15px;    
}
.section3-body-achivements-child{
    background: rgba(0,0,0,0.5);
    border:none;
    border-radius: 40px;
    /* width: 90vh; */
    display: flex;
    flex-direction: column;
    align-items: left;
    padding:15px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size:23px;
    
  
}
.section3-body-achivements-child:hover{
    transform: translateY(-25px);
    transition: 0.5s;
}
section .text-h1{
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin:10px;
}
section .text-h2{
    font-size:15px;
    margin:4px;
    color:white;
    text-decoration: none;
    padding-left:20px;
}
.section4-body{
    gap:6vh;
    display: flex;
    height: 70vh;
    margin:18vh 10vh 5vh 10vh;
    /* align-items: center; */
    justify-content: center;
}
.section4-body-label{
    background: rgba(0,0,0,0.5);
    border:none;
    border-radius: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: start-top; */
    padding:15px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size:23px;
    gap:3vh;
}
.section4-body-certificates{
    width: 100%;;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4vh;
    padding:2vh;
}
.cert-label{
    /* border: 2px solid white; */
    border-radius: 10px;
    aspect-ratio: 16/9;
    background:linear-gradient(to left,rgb(223, 50, 34),rgb(229, 83, 36),rgb(237, 121, 44));        
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    font-size:28px;
    text-decoration: none;
    color:white;

}
.cert-label:hover{
    transform: translateY(-20px);
}
section .background-5{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    overflow: auto;
    z-index: -1;
    position: absolute;
}
.section5-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3vh;
    position: relative;
    top:15vh;
    /* border: 1px solid white; */
}
.tieude{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-align: center;
    font-weight: bold;
}
.hoat-dong{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:3vh;
    padding:2vh;
}
.event{
    border-radius: 20px;
    background: rgba(0,0,0,0.5);
    border:none;
    width: 25vh;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size:14px;
    transition: 0.5s;
    text-decoration: none;
}
.event:hover{
    transform: translateY(-20px);
}
.anh-hoat-dong{
    width: 20vh;
    height: 20vh;
    border-radius: 20px;
    aspect-ratio: 16/9;
    border: 2px solid white;
    transition: 0.5s;
}
.anh-hoat-dong img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit:cover;
}
.mo-ta-hoat-dong{
    width: 20vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:10px;
    font-size: 15px;
    text-decoration: none;
    color:white;    
}
.title-hoat-dong{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.section6-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3vh;
    position: relative;
    top:15vh;
    height: 80%;
}
.connect{
    padding:1vh;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:5vh;
    justify-content: center;
    align-items: center;

}
.platform{
    width: 70%;
    background-color: rgba(256,256,256,0);
    border-radius: 40px;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
}
.platform:hover{
    transform: translateY(-20px);
    background: radial-gradient(circle 
    farthest-corner at 10% 20%, rgba(28, 11, 139,0.7) 17.8%, rgb(71, 5, 70,0.7) 45%,rgb(124, 6, 56,0.7),
    rgb(188, 3, 45,0.7),rgb(143, 12, 56,0.7) )  ;
    transition: 0.5s; 
}











