.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid gray;
    padding-top:5px;
}
.search-bar{
    height: 30px;
    width: 500px;
    border: 1px solid gray;
    border-radius: 20px;
    color: black;
    background-color: white;
    cursor:pointer;
    padding-left:20px;
}
.search-bar:hover{
    box-shadow: 0 0 3px 3px #888888;
    
}
.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    left:0;
    top:45px;
    bottom:0;
    width: 50px;
    background-color: gray;
}