.sidebar{
    overflow: auto;
    display: block;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
    flex-wrap: wrap;
    position: fixed;
    left:0;
    top:45px;
    bottom:0;
    width: 180px;
    background-color: white;
    gap:30px;
}
.sidebar-content{
    margin-top:10px;
    margin-bottom: 30px;
    font-family: Arial;
    font-size:20px;
}
.sidebar-content-content{
    padding: 8px;
    display:block;
    margin:5px;
    border:none;
    border-radius: 5px;
    cursor:pointer;   
}

.sidebar-content-content-2{
    display:grid;
    border:none;
    border-radius: 12px;
    cursor:pointer;   
    grid-template-columns:25px 1fr;
    grid-gap: 5px;
    margin-left:8px;
}
.sidebar-content-content-2:hover{
    background-color: #dad6d6;
    box-shadow: 0 0 2px 2px #cfcccc;
}
.sidebar-channel-logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-channel-logo{

    width: 25px;
    border:1px solid black;
    border-radius: 50%;

}
.sidebar-channel-name{
    font-size:17px;
}



.sidebar-content-content:hover{
    background-color: #dad6d6;
    box-shadow: 0 0 2px 2px #cfcccc;
    cursor:pointer;
}

