
body {
    background-image: url('../picture/background4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
}
header .{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    top:0; left:0;
    padding-left: 30px 100px;
    position: absolute;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

